@import "tailwindcss";


@font-face {
  font-family: font-300;
  src: url(assets/fonts/font-300.woff2) format('truetype');
}

@font-face {
  font-family: font-400;
  src: url(assets/fonts/font-400.woff2) format('truetype');
}

@font-face {
  font-family: font-500;
  src: url(assets/fonts/font-500.woff2) format('truetype');
}

body {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

.font1 {
  font-family: font-300;
}

.font2 {
  font-family: font-400;
}

.font3 {
  font-family: font-500;
}

.container_main {
  width: 100%;
  /* height: 100vh; */
  /* background-repeat: no-repeat;
  background: url('./assets/img/homeBg.jpeg');
  background-size: cover;
  background-position: center; */
   overflow-x: hidden;

}

.main {
  width: 100%;
  transition: all 0.3s ease-in-out;
  /* height: 100vh; */
  /* background-repeat: no-repeat;
  background: url('./assets/img/homeBg.jpeg');
  background-size: cover;
  background-position: center; */
  overflow-x: hidden;
}

/* .img_hero{
      position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
} */
 .cards_wrap{
  transition: cubic-bezier(0.19, 1, 0.22, 1)1s;
 }
 .cards_wrap:hover p{
 opacity: 1;
 }
.crs {
  backdrop-filter: blur(20px);
  background: rgba(0, 0, 0, .15);
  padding: 10px;
  font-size: 12px;
}

.last_txt {
  display: flex;
  align-items: center;
  color: #fff;
  fill: #fff;
  gap: 10px;
}